<nz-card class="recordcard">
    <nz-layout>
        <nz-content class="description">
            <img src="https://d3dxqwkfasz293.cloudfront.net/images/icons/ico_duo_wh.png"
                 srcset="https://d3dxqwkfasz293.cloudfront.net/images/icons/ico_duo_wh@2x.png 2x"
                 style="padding-left: 2px;vertical-align: middle">
            <span class="time">6小时</span>
            <span class="record">{{winNum}}W {{top10Num}}T {{loseNum}}L</span>
        </nz-content>

        <nz-content class="rating">
            <div nz-row>
                <div nz-col [nzSpan]="6">
                    <img src="https://d3dxqwkfasz293.cloudfront.net/images/icons/ow/rank-4.png"
                         alt="白金级 1" class="grade-icon">
                </div>

                <div nz-col [nzSpan]="18">
                    <span class="value">1,766</span>
                    <span class="caption">积分</span>
                    <nz-progress [nzPercent]="85" [nzShowInfo]="false"></nz-progress>

                    <p class="desc">
                        <span class="rank">位</span>
                        <span class="top">%</span>
                    </p>
                </div>

            </div>


        </nz-content>
        <nz-content>

        </nz-content>
    </nz-layout>


</nz-card>
