<div class="overview" nz-row>
    <div class="overview-img" nz-col [nzSpan]="6">
        <img src="https://d3dxqwkfasz293.cloudfront.net/images/icons/ow/rank-4.png"
             alt="白金级 1" class="grade-icon">
    </div>

    <div class="rating" nz-col [nzSpan]="18">
        <span class="value">1,766</span>
        <span class="caption">积分</span>

        <nz-progress [nzPercent]="85" [nzShowInfo]="false"></nz-progress>

        <p class="desc">
            <span class="rank">前</span>
            <span class="top">%</span>
        </p>
    </div>

</div>
