div.stats-card {
    background-color: #ffffff;
    /*border: black;*/
    /*border-style: outset;*/
    /*border-width: thin;*/
}

span.title {
    float: left;
}

span.value {
    float: right;
}

nz-card {
    width: 100%;
    height: 60px;
}

span {
    margin: 0 6px 0 6px;
}

div.progress {
    padding: 0 6px 0 6px;
}

nz-content {
    background-color: #ffffff;
}
