<nz-card class="stats" [nzBordered]="true" [nzTitle]="titleTemplate"
         [nzExtra]="extraTemplate">

    <ul *ngIf="!isEmpty()" class="stats_list">
        <li class="stats_item">
            <div class="stats_key stats_key--imp">
                <span>K/D</span>
            </div>
            <div class="stats_value stats_value--imp">
                <span>{{scStatsData.kills/scStatsData.roundsPlayed|number:'1.2-2'}}</span>
            </div>
        </li>
        <li class="stats_item">
            <div class="stats_key stats_key--imp">
                <span>场均伤害</span>
            </div>
            <div class="stats_value stats_value--imp">
                <span>{{scStatsData.damageDealt/scStatsData.roundsPlayed|number:'1.0-0'}}</span>
            </div>
        </li>
        <li class="stats_item">
            <div class="stats_key">
                <span>胜</span>
            </div>
            <div class="stats_value">
                <span>{{scStatsData.wins/scStatsData.roundsPlayed*100|number:'1.1-1'}}%</span>
            </div>
        </li>
        <li class="stats_item">
            <div class="stats_key">
                <span>Top 10</span>
            </div>
            <div class="stats_value">
                <span>{{scStatsData.top10s/scStatsData.roundsPlayed*100|number:'1.1-1'}}%</span>
            </div>
        </li>


        <li class="stats_item">
            <div class="stats_key">
                <span>游戏局数</span>
            </div>
            <div class="stats_value">
                <span>{{scStatsData.roundsPlayed|number:'1.0-0'}}</span>
            </div>
        </li>
        <li class="stats_item">
            <div class="stats_key">
                <span>单局最高击杀</span>
            </div>
            <div class="stats_value">
                <span>{{scStatsData.roundMostKills|number:'1.0-0'}}</span>
            </div>
        </li>

        <li class="stats_item">
            <div class="stats_key">
                <span>最远击杀距离</span>
            </div>
            <div class="stats_value">
                <span>{{scStatsData.longestKill|number:'1.2-2'}}m</span>
            </div>
        </li>
        <li class="stats_item">
            <div class="stats_key">
                <span>最长存活时间</span>
            </div>
            <div class="stats_value">
                <span>{{scStatsData.mostSurvivalTime}}</span>
            </div>
        </li>


        <li class="stats_item">
            <div class="stats_key">
                <span>最远击杀距离</span>
            </div>
            <div class="stats_value">
                <span>{{scStatsData.longestKill|number:'1.0-1'}}m</span>
            </div>
        </li>
        <li class="stats_item">
            <div class="stats_key">
                <span>爆头</span>
            </div>
            <div class="stats_value">
                <span>{{scStatsData.headshotKills/scStatsData.kills*100|number:'1.1-1'}}%</span>
            </div>
        </li>

    </ul>

    <div class="blank-stats" *ngIf="isEmpty()">

    </div>
</nz-card>

<ng-template class="backss" #titleTemplate style="display: inline-block">
    <mat-icon class="icon" svgIcon="run-man"></mat-icon>
    <span class="title">单排 TPP</span>
</ng-template>


<ng-template class="backss" #extraTemplate>
    <span>7场</span>
</ng-template>

