::ng-deep .ant-card-body {
    padding: 0 0 0 0px;
}

::ng-deep .ant-card-head {
    padding: 0 24px 0 12px;
}

.stats {
    width: 330px;
}

ul {
    list-style: none;
    width: 100%;
    padding: 0;
}

li {
    width: 50%;
    float: left;
    display: table;
}

li:nth-child(2n-1) {
    border-right: 1px solid #eaeaea;
}

.stats_key {
    width: 104px;
    padding-left: 10px;
    height: 28px;
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
}

.stats_value {
    width: auto;
    height: auto;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.stats_key--imp {
    line-height: 14px;
    width: auto;
    height: auto;
    padding: 9px 10px 0 10px;
    display: block;
    color: #000000;
}

.stats_value--imp {
    width: auto;
    height: auto;
    padding: 9px 10px 0 10px;
    display: block;
    font-size: 16px;
}

.stats_item:nth-child(4n-1) {
    background-color: #f6f6f6;

}

.stats_item:nth-child(4n) {
    background-color: #f6f6f6;
}

.icon {
    width: 16px;
    height: 16px;
}

.title {
    padding-left: 6px;
}

.blank-stats {
    height: 168px;
}
