span {
    font-size: 15px;
    color: #ffffff;
}

span.value {
    float: right;
}

span.caption {
    float: left;
}

span.percent {
    float: left;
}

.point {
    font-size: 15px;
    text-align: center;
}

span {
    margin: 0 6px 0 6px;
}

.progress {
    padding: 0 6px 0 6px;
}

