.description {
    background-color: #609e3d;
    height: 30px;
    width: 100%;
    line-height: 30px;
}

span {
    display: inline-block;
    color: #ffffff;
    text-align: center;
}

.type {
    float: left;
    padding-left: 10px;
}

.time {
    float: left;
    padding-left: 20px;
}

.record {
    float: right;
    padding-right: 10px;
}


