<nz-layout class="layout">
    <nz-header class="main-header">
        <div class="logo"></div>
        <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
            <li nz-menu-item>nav 1</li>
            <li nz-menu-item>nav 2</li>
            <li nz-menu-item>nav 3</li>
            <input id="input-playername" nz-input placeholder="Basic Usage" size='small'
                   [(ngModel)]="value"/>
        </ul>
    </nz-header>
    <nz-content class="main-content">
        <div class="stats-collections">
            <app-statscolcards></app-statscolcards>
        </div>
    </nz-content>
    <nz-footer style="text-align: center;">Not affiliated with PLAYERUNKNOWN'S BATTLEGROUNDS, PUBG
        Corp, Steam or Valve Corp.
    </nz-footer>
</nz-layout>
